<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <!-- Get to scraping -->
    <div class="row" id="latest_news">
      <div class="col-md-12">
        <h2>Latest Mars News</h2>
        <h4 class="heading">{{latest_news.news_title}}</h4>
        {{latest_news.news_p}}
      </div>
    </div>
    <div class="row main" id="main">
      <div class="col-md-7">
        <h2>Featured Mars Image</h2>
        <img src={{latest_news.featured_image_url}} alt="Featured Mars Image" class="disp-image" />
      </div>
      <div class="col-md-5">
        <div class="weather">
          <h4>Current Weather on Mars</h4>
          <p>{{latest_news.mars_weather}}</p>
        </div>
        <div class="facts">
          <h4>Mars Facts</h4>
          {{latest_news.mars_facts|safe}}
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row hemi-container">
      <div class="col-md-12">
        <h4>Mars Hemispheres</h4>
        <hr>
      </div>
      <div class="row hemi">
        <hr>
        {%for i in range(0, 2)%}
        <div class="col-md-6 hemi">
          <img src={{latest_news.hemisphere_image_urls[i].img_url}} alt={{latest_news.hemisphere_image_urls[i].img_url}}
            class="disp-image" />
            <h5>{{latest_news.hemisphere_image_urls[i].title}}</h5>
        </div>
        {%endfor%}
      </div>
    </br>
      <div class="row hemi">
        {%for i in range(2, 4)%}
        <div class="col-md-6">
          <img src={{latest_news.hemisphere_image_urls[i].img_url}} alt={{latest_news.hemisphere_image_urls[i].img_url}}
            class="disp-image" />
          <h5>{{latest_news.hemisphere_image_urls[i].title}}</h5>
        </div>
        {%endfor%}
      </div>
    </div>
  </div>
</body>

</html>